  <footer id="footer">
         <div class="footer-top pb-0 mb-0" >
            <div class="container col-lg-10">
               <div class="row">
                  <div class="col-lg-3 col-md-6 footer-info">
                     <img src="img/logo.png" width="181" height="89" alt="" style="margin-bottom:5px;"/>
                     <p>The Judge Group is a privately owned, leading professional services firm with over 48 years of experience in providing technology, talent, and learning solutions.<br><br>
                     </p>
                  </div>
                  <div class="col-lg-3 col-md-6 footer-links">
                     <h4><img src="img/recent-news-icon.png" alt=""/> Recent news</h4>
                     <ul>
                        <li> <a href="talent.html#bulk-by-staffing">The Judge Group Receives AgileOne’s Gold Supplier Excellence Award	</a><br>
                           <img src="img/news-icon.png" alt=""/> Aug 14, 2018 
                        </li>
                        <li class="border-0"> <a href="talent.html#bulk-by-staffing">The Judge Group Continues to Invest in India, Expands Office Space		</a><br>
                           <img src="img/news-icon.png" alt=""/> May 08, 2018 
                        </li>
                     </ul>
                  </div>
                  <div class="col-lg-3 col-md-6 footer-links">
                     <h4><img src="img/popular-links-icon.png" alt=""/> Popular links</h4>
                     <ul class="col-lg-5 float-left">
                        <li><i class="ion-ios-arrow-right"></i> <a href="#">Home</a></li>
                        <li><i class="ion-ios-arrow-right"></i> <a href="#">About Us</a></li>
                        <li><i class="ion-ios-arrow-right"></i> <a href="#">Contact Us</a></li>
                        <li class="border-0"><i class="ion-ios-arrow-right"></i> <a href="#">Set Job Alerts</a></li>
                     </ul>
                     <ul class="col-lg-5 float-left ml-3 pl-3 footer-border">
                        <li><i class="ion-ios-arrow-right"></i> <a href="#">Work at Judge</a></li>
                        <li><i class="ion-ios-arrow-right"></i> <a href="#">Blogs</a></li>
                        <li class="border-0"><i class="ion-ios-arrow-right"></i> <a href="#">EaZy Tyme</a></li>
                     </ul>
                  </div>
                  <div class="col-lg-3 col-md-6 footer-newsletter">
                     <h4><img src="img/newletter-icon.png" alt=""/> Our Newsletter</h4>
                     <p>Subscribe our monthly newsletter</p>
                     <form action="" method="post">
                        <input type="email" name="email"><input type="submit"  value="Subscribe">
                     </form>
                     <!--  
                        <div class="social-links mt-3">
                                <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                                <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                                <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
                                <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
                                <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
                              </div>-->
                     <div class="clearfix"><br><br></div>
                     <h4><img src="img/location-icon.png" alt=""/> Select a Country Reagion</h4>
                     <div class="col-lg-12 float-right">
                        <div class="dropdown mt-3 ml-3">
                           <button class="btn dropdown-toggle country" type="button" data-toggle="dropdown">India - English
                           <span class="caret"></span></button>
                           <ul class="dropdown-menu">
                              <li class="pl-2"><a href="https://www.judge.com/" style="color: #000;">USA - English</a></li>
                              <li class="pl-2"><a href="https://www.judge.com/?fromUrl=http://www.judgecanada.com/" style="color: #000;">Canada - English</a></li>
                              <li class="pl-2"><a href="https://www.judge.com/?fromUrl=http://www.judgechina.com/"  style="color: #000;">China - English</a></li>
                           </ul>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="container col-lg-10">
            <div class="copyright">
               Copyright &copy; 2018 The Judge Group, India. All Rights Reserved
            </div>
         </div>
      </footer>
      <!-- #footer -->
      <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
       <!-- JavaScript Libraries -->
      <script src="lib/bootstrap/js/bootstrap.min.js"></script>
      <script src="js/sina-nav.js"></script>
      <!-- For All Plug-in Activation & Others -->
      <script type="text/javascript">
         $(document).ready(function() {
         	// WOW animation initialize
         	new WOW().init();
         });
      </script>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <script src="lib/jquery/jquery-migrate.min.js"></script>
      <script src="lib/bootstrap/js/bootstrap.bundle.min.js"></script>
      <script src="lib/easing/easing.min.js"></script>
      <script src="lib/superfish/hoverIntent.js"></script>
      <script src="lib/superfish/superfish.min.js"></script>
      <script src="lib/wow/wow.min.js"></script>
      <script src="lib/waypoints/waypoints.min.js"></script>
      <script src="lib/counterup/counterup.min.js"></script>
      <script src="lib/owlcarousel/owl.carousel.min.js"></script>
      <script src="lib/isotope/isotope.pkgd.min.js"></script>
      <script src="lib/lightbox/js/lightbox.min.js"></script>
      <script src="lib/touchSwipe/jquery.touchSwipe.min.js"></script>
      <!-- Contact Form JavaScript File -->
      <script src="js/main.js"></script>
