<section class="section section-7" id="section6">
			<div class="container">
				<div class="row  text-white">
					<div class="col-md-7">
						<h2>Request a Call Back</h2>
						If you would like to contact someone by phone, fax or post and you don't know the address, please consult our world wide branch directory</div>
				</div>
			</div>
			<div class="col-md-8 inner-container">
				<div class="row">
					<div class="col-md-8 sendmessage">
						<h3>Send us a Message</h3>
						<div class="row form-area">
							<div class="col-md-6">
								<input type="text" class="form-control" placeholder="Full Name">
							</div>
							<div class="col-md-6">
								<input type="text" class="form-control" placeholder="Email">
							</div>
							<div class="col-md-12">
								<textarea class="form-control" placeholder="Message"></textarea>
							</div>
							<div class="col-md-12">
								<input type="submit" value="Submit">
							</div>
						</div>
					</div>
					<div class="col-md-4 contactbox">
						<h4>Contact Info</h4>
						<ul class="info">
							<li><span class="icon icon-1"></span> 151 S. Warner Rd Wayne, PA 19087</li>
							<li class="call"><span class="icon icon-2"></span><a href="tel:(800) 650-0035">(800) 650-0035</a>
							</li>
							<li class="email"><span class="icon icon-3"></span><a href="mailto:info@judge.com"> info@judge.com</a>
							</li>
						</ul>
						<div class="social">
							<span class="icon icon-4"></span>
							<span class="icon icon-5"></span>
							<span class="icon icon-6"></span>
							<span class="icon icon-7"></span>
						</div>
					</div>
				</div>
			</div>
		</section>
<footer class="section sitefooter text-white" id="section8">
			<div class="row">
				<div class="col-md-3 about">
					<img src="img/Judge-Logo.png" alt="">
					<p>The Judge Group is a privately owned, leading professional services firm with over 48 years of experience in providing technology, talent, and learning solutions.</p>
				</div>
				<div class="col-md-3">
					<h3><span><img src="img/footer-1.png" alt=""></span>Recent news</h3>
					<div class="newsbox">
						<p>The Judge Group Receives AgileOne’s Gold Supplier Excellence Award</p>	<span class="date"><i><img src="img/footer-5.png" alt=""></i>Aug 14, 2018</span>
					</div>
					<div class="newsbox">
						<p>The Judge Group Receives AgileOne’s Gold Supplier Excellence Award</p>
					<span class="date"><i><img src="img/footer-5.png" alt=""></i>Aug 14, 2018</span>
					</div>
				</div>
				<div class="col-md-3 quiklinks">
					<h3><span><img src="img/footer-2.png" alt=""></span>Popular links</h3>
					<ul>
						<li><a href="#">Home</a>
						</li>
						<li><a href="#">About Us</a>
						</li>
						<li><a href="#">Contact Us</a>
						</li>
						<li><a href="#">Set Job Alerts</a>
						</li>
					</ul>
					<ul class="border-left">
						<li><a href="#">Careers</a>
						</li>
						<li><a href="#">Blogs</a>
						</li>
						<li><a href="#">EaZyTyme</a>
						</li>
					</ul>
				</div>
				<div class="col-md-3 subscribe">
					<h3><span><img src="img/footer-3.png" alt=""></span>Subscribe</h3>
					<p>Subscribe to Our Newsletter</p>
					<div class="subscribe-form">
						<input type="text" name="subscribe" placeholder="Email">
						<input type="submit" value="Go">
					</div>
					<h3><span><img src="img/footer-4.png" alt=""></span>Select a Country Reagion</h3>
					<select class="pull-right">
						<option>India - English</option>
						<option>Option - Two</option>
						<option>Option - Three</option>
						<option>Option - Four</option>
					</select>
				</div>
			</div>
			<section class="copyright">Copyright © 2019 The Judge Group, INC. All Rights Reserved</section>
		</footer>
