<nav class="sina-nav col-md-9 mobile-sidebar pull-right" data-top="0">
<div class="">
	<!-- .sina-nav-header -->
	<!-- Collect the nav links, forms, and other content for toggling -->
	<div class="" id="navbar-menu">
		<ul class="sina-menu sina-menu-right" data-in="fadeInLeft" data-out="fadeInOut">
			<li class="dropdown menu-item-has-mega-menu"> <a href="#" class="dropdown-toggle" data-toggle="dropdown">ABOUT</a>
				<div class="mega-menu dropdown-menu">
					<ul class="mega-menu-row" role="menu">
						<li class="mega-menu-col col-md-4 order-3 l-menu-hight">
							<ul class="sub-menu text-left staffing-sub-menu">
								<li id="about_1"><a href="#">About Us</a>
								</li>
								<li id="leadership_1"><a href="#">Leadership</a>
								</li>
								<li id="mission_1"><a href="#">Mission &amp; Values </a>
								</li>
								<li id="history_1"><a href="#">History</a>
								</li>
								<li id="work_1"><a href="#">Work at Judge</a>
								</li>
							</ul>
						</li>
						<li class="mega-menu-col col-md-8 text-left">
							<div class="col-md-12 float-left" id="about_1_box" style="display:none">
								<div class="col-md-12 float-left mega-menu-heading">About Us</div>
								<div class="col-md-6 float-left menu-inner-text">The Judge Group is a privately owned, leading professional services firm with over 48 years of experience in providing technology, talent, and learning solutions. Our services are successfully delivered through a network of more than 35 offices in the United States, Canada, and India.
									<br>
									<br> <strong>Quicklinks</strong>
									<ul class="quick-links">
										<li><a href="#">Consulting Solutions</a> 
										</li>
										<li><a href="#">Technology Solutions</a> 
										</li>
										<li><a href="#">Talent Solutions</a>
										</li>
										<li><a href="#">Learning Solutions</a>
										</li>
									</ul>
								</div>
								<div class="col-md-6 float-left"> <strong class="corporate-hq">What is Judge</strong>
									<img src="img/aboutus.jpg" width="100%" alt="" />
									<br>
									<br> <span class="mega-menu-all-text">We understand that the work we do has a direct impact on the lives of our clients, contractors, and employees. Our Values shape how we do business and the culture of Judge. </span> 
								</div>
							</div>
							<div class="col-md-12 float-left" style="display:none" id="leadership_1_box">
								<div class="col-md-12 float-left mega-menu-heading">Leadership</div>
								<div class="col-md-6 float-left menu-inner-text">The Judge Group is a privately owned, leading professional services firm with over 48 years of experience in providing technology, talent, and learning solutions. Our services are successfully delivered through a network of more than 35 offices in the United States, Canada, and India.
									<br>
									<br> <strong>Quicklinks</strong>
									<ul class="quick-links">
										<li><a href="#">Consulting Solutions</a> 
										</li>
										<li><a href="#">Technology Solutions</a> 
										</li>
										<li><a href="#">Talent Solutions</a>
										</li>
										<li><a href="#">Learning Solutions</a>
										</li>
									</ul>
								</div>
								<div class="col-md-6 float-left"> <strong class="corporate-hq">What is Judge</strong>
									<img src="img/aboutus.jpg" width="100%" alt="" />
									<br>
									<br> <span class="mega-menu-all-text">We understand that the work we do has a direct impact on the lives of our clients, contractors, and employees. Our Values shape how we do business and the culture of Judge. </span> 
								</div>
							</div>
							<div class="col-md-12 float-left" style="display:none" id="mission_1_box">
								<div class="col-md-12 float-left mega-menu-heading">Mission &amp; Values</div>
								<div class="col-md-6 float-left menu-inner-text">The Judge Group is a privately owned, leading professional services firm with over 48 years of experience in providing technology, talent, and learning solutions. Our services are successfully delivered through a network of more than 35 offices in the United States, Canada, and India.
									<br>
									<br> <strong>Quicklinks</strong>
									<ul class="quick-links">
										<li><a href="#">Consulting Solutions</a> 
										</li>
										<li><a href="#">Technology Solutions</a> 
										</li>
										<li><a href="#">Talent Solutions</a>
										</li>
										<li><a href="#">Learning Solutions</a>
										</li>
									</ul>
								</div>
								<div class="col-md-6 float-left"> <strong class="corporate-hq">What is Judge</strong>
									<img src="img/aboutus.jpg" width="100%" alt="" />
									<br>
									<br> <span class="mega-menu-all-text">We understand that the work we do has a direct impact on the lives of our clients, contractors, and employees. Our Values shape how we do business and the culture of Judge. </span> 
								</div>
							</div>
							<div class="col-md-12 float-left" style="display:none" id="history_1_box">
								<div class="col-md-12 float-left mega-menu-heading">History</div>
								<div class="col-md-6 float-left menu-inner-text">The Judge Group is a privately owned, leading professional services firm with over 48 years of experience in providing technology, talent, and learning solutions. Our services are successfully delivered through a network of more than 35 offices in the United States, Canada, and India.
									<br>
									<br> <strong>Quicklinks</strong>
									<ul class="quick-links">
										<li><a href="#">Consulting Solutions</a> 
										</li>
										<li><a href="#">Technology Solutions</a> 
										</li>
										<li><a href="#">Talent Solutions</a>
										</li>
										<li><a href="#">Learning Solutions</a>
										</li>
									</ul>
								</div>
								<div class="col-md-6 float-left"> <strong class="corporate-hq">What is Judge</strong>
									<img src="img/aboutus.jpg" width="100%" alt="" />
									<br>
									<br> <span class="mega-menu-all-text">We understand that the work we do has a direct impact on the lives of our clients, contractors, and employees. Our Values shape how we do business and the culture of Judge. </span> 
								</div>
							</div>
							<div class="col-md-12 float-left" style="display:none" id="work_1_box">
								<div class="col-md-12 float-left mega-menu-heading">Work at Judge</div>
								<div class="col-md-6 float-left menu-inner-text">The Judge Group is a privately owned, leading professional services firm with over 48 years of experience in providing technology, talent, and learning solutions. Our services are successfully delivered through a network of more than 35 offices in the United States, Canada, and India.
									<br>
									<br> <strong>Quicklinks</strong>
									<ul class="quick-links">
										<li><a href="#">Consulting Solutions</a> 
										</li>
										<li><a href="#">Technology Solutions</a> 
										</li>
										<li><a href="#">Talent Solutions</a>
										</li>
										<li><a href="#">Learning Solutions</a>
										</li>
									</ul>
								</div>
								<div class="col-md-6 float-left"> <strong class="corporate-hq">What is Judge</strong>
									<img src="img/aboutus.jpg" width="100%" alt="" />
									<br>
									<br> <span class="mega-menu-all-text">We understand that the work we do has a direct impact on the lives of our clients, contractors, and employees. Our Values shape how we do business and the culture of Judge. </span> 
								</div>
							</div>
						</li>
					</ul>
					<!-- end row -->
				</div>
			</li>
			<li class="dropdown menu-item-has-mega-menu"> <a href="#" class="dropdown-toggle" data-toggle="dropdown">SERVICES</a>
				<div class="mega-menu dropdown-menu">
					<ul class="mega-menu-row" role="menu">
						<li class="mega-menu-col col-md-4 order-3 l-menu-hight">
							<ul id="accordion" class="sub-menu text-left staffing-sub-menu">
								<li class="order-first"> <a href="#" id="judge-staffing">Staffing Services</a>
									<ul class="sub-menu-staffing ml-3">
										<li style="display:none;" id="staff_dir_1"><a href="#">Staffing Services</a>
										</li>
										<li id="staff_it_1"><a href="#">IT Staffing</a>
										</li>
										<li id="staff_health_1"><a href="#">Healthcare Staffing</a>
										</li>
										<li id="staff_eng_1"><a href="#">Engineering / Manufacturing Staffing</a>
										</li>
										<li id="staff_fin_1"><a href="#">Professional Services Staffing</a>
										</li>
										<li id="staff_lif_1"><a href="#">Life Sciences Staffing</a>
										</li>
										<li id="staff_msp_1"><a href="#">Direct Placement</a>
										</li>
										<li id="staff_rpo_1"><a href="#">Workforce Solutions</a>
										</li>
										<li  style="display:none" id="staff_techsol_21"><a href="#">New 1</a>
										</li>
										<li style="display:none" id="staff_techsol_22"><a href="#">New 2</a>
										</li>
										<li  style="display:none" id="staff_techsol_23"><a href="#">New 3</a>
										</li>
									</ul>
								</li>
								<li class="order"> 
									<a href="#" style="background:none;" id="judge-managed">Consulting Services</a>
									<ul class="sub-menu-managed menu-hide ml-3">
										<li id="staff_cus_1"><a href="#">Digital</a>
										</li>
										<li id="staff_tech_1"><a href="#">Infrastructure</a>
										</li>
										<li id="staff_learn_1"><a href="#">Smart Building Services</a>
										</li>
										<li id="staff_techsol_24"><a href="#">Collaboration and Cloud</a>
										</li>
										<li id="staff_techsol_25"><a href="#">Speciality Services</a>
										</li>
										<li id="staff_techsol_26"><a href="#">Mergers and Acquisitions</a>
										</li>
										<li id="staff_techsol_27"><a href="#">Global Delivery Centers</a>
										</li>
										<li id="staff_techsol_28"><a href="#">QA Services</a>
										</li>
										<li id="staff_techsol_29"><a href="#">Transformation</a>
										</li>
										<li style="display:none" id="staff_techsol_30"><a href="#">New 1</a>
										</li>
										<li style="display:none" id="staff_techsol_31"><a href="#">New 2</a>
										</li>
										<li style="display:none" id="staff_techsol_32"><a href="#">New 3</a>
										</li>
									</ul>
								</li>
								<li class="order"> <a href="#" style="background:none;" id="tech-managed">Technology Solutions</a>
									<ul class="sub-menu-managed_tech menu-hide ml-3">
										<li id="staff_techsol_15"><a href="#">Network Infrastructure</a>
										</li>
										<li id="staff_techsol_16"><a href="#">Managed Services</a>
										</li>
										<li id="staff_techsol_17"><a href="#">A/V Collaborative Solutions </a>
										</li>
										<li id="staff_techsol_33"><a href="#">Data Center </a>
										</li>
										<li id="staff_techsol_34"><a href="#">Construction Technology Planning & Design
 </a>
										</li>
										<li style="display:none" id="staff_techsol_35"><a href="#">New 1 </a>
										</li>
										<li style="display:none" id="staff_techsol_36"><a href="#">New 2 </a>
										</li>
										<li style="display:none" id="staff_techsol_37"><a href="#">New 3 </a>
										</li>
										
									</ul>
								</li>
								<li class="order"> <a href="#" style="background:none;" id="learn-managed">Learning Solutions</a>
									<ul class="sub-menu-managed_learn menu-hide ml-3">
										<li id="staff_techsol_18"><a href="#">Instructor-Led Training</a>
										</li>
										<li id="staff_techsol_19"><a href="#">Custom Learning Asset Development</a>
										</li>
										<li id="staff_techsol_20"><a href="#">Learning Strategy Consultation</a>
										</li>
										<li id="staff_techsol_38"><a href="#">Performance Consulting & Support </a>
										</li>
										<li id="staff_techsol_39"><a href="#">Electronic Medical Record Training & Support </a>
										</li>
										<li id="staff_techsol_40"><a href="#">Organizational Change Management </a>
										</li>
										<li style="display:none" id="staff_techsol_41"><a href="#">New 1 </a>
										</li>
										<li style="display:none" id="staff_techsol_42"><a href="#">New 2 </a>
										</li>
										<li style="display:none" id="staff_techsol_43"><a href="#">New 3 </a>
										</li>
									</ul>
								</li>
							</ul>
						</li>
						<li class="mega-menu-col col-md-8 text-left">
						
							<div class="col-md-12 float-left" style="display:none" id="staff_dir_1_box">
								<div class="col-md-12 float-left mega-menu-heading">Staffing</div>
								<div class="col-md-6 float-left menu-inner-text">Judge was founded in 1970 as a staffing solutions company and for nearly 50 years we’ve provided leading companies with IT, Healthcare, Engineering / Manufacturing, Accounting & Finance, and Life Sciences professionals.
									<br>
									<br> <strong>Quicklinks</strong>
									<ul class="quick-links">
										<li><a href="#">Search Our Jobs</a> 
										</li>
										<li><a href="#">Join the Judge Team </a> 
										</li>
										<li><a href="#">Request for Services</a>
										</li>
									</ul>
								</div>
								<div class="col-md-6 float-left"> <span class="mega-menu-all-text"><strong class="corporate-hq">Financial Services Case Study</strong>
									<img src="img/it-staffing-for-financial-services-case-study.jpg" width="100%" alt="" />
									<br>
									<br> IT Staffing for Financial Services Case Study - Learn how The Judge Group became the #1 ranked vendor for a leading global financial services firm within one year.

</span> 
								</div>
							</div>
							
							<div class="col-md-12 float-left" style="display:none" id="staff_it_1_box">
								<div class="col-md-12 float-left mega-menu-heading">IT Staffing</div>
								<div class="col-md-6 float-left menu-inner-text">Judge places leading IT professionals at the majority of the Fortune 100. We have the top talent to fill any IT staffing need: from emerging technologies, like A.I. & Machine Learning and IoT, to the most sought-after skill-sets, like Java and Python.
									<br>
									<br> <strong>Quicklinks</strong>
									<ul class="quick-links">
										<li><a href="#">Search Our IT Jobs</a> 
										</li>
										<li><a href="#">Disruptive Technologies</a> 
										</li>
										<li><a href="#">What Sets Us Apart</a>
										</li>
										<li><a href="#">Join the Judge Team</a>
										</li>
										<li><a href="#">Request for Services</a>
										</li>
									</ul>
								</div>
								<div class="col-md-6 float-left"> <strong class="corporate-hq">Financial Services Case Study</strong>
									<img src="img/it-staffing-for-financial-services-case-study.jpg" width="100%" alt="" />
									<br>
									<br> <span class="mega-menu-all-text">IT Staffing for Financial Services Case Study - Learn how The Judge Group became the #1 ranked vendor for a leading global financial services firm within one year.</span> 
								</div>
							</div>
							
							<div class="col-md-12 float-left" style="display:none" id="staff_health_1_box">
								<div class="col-md-12 float-left mega-menu-heading">Healthcare Staffing</div>
								<div class="col-md-6 float-left menu-inner-text">Judge Healthcare provides professionals to all segments of the healthcare industry, including health plans, providers, ACOs, and PBMs across all 50 states.

									<br>
									<br> <strong>Quicklinks</strong>
									<ul class="quick-links">
										<li><a href="#">Search Our Healthcare Jobs</a> 
										</li>
										<li><a href="#">Top Jobs &amp; Skill We Place</a> 
										</li>
										<li><a href="#">Join the Judge Healthcare Team</a>
										</li>
										<li><a href="#">Request for Services</a>
										</li>
									</ul>
								</div>
								<div class="col-md-6 float-left"> <strong class="corporate-hq">Healthcare Case Study</strong>
									<img src="img/healthcare-staffing-case-study.jpg" width="100%" alt="" />
									<br>
									<br> <span class="mega-menu-all-text">Healthcare Staffing Case Study - Learn how The Judge Group was able to help a Fortune 50 managed healthcare organization that required a clinical workforce solution to provide customized care for 1,600 patients nationwide, within a three-month timeframe.
</span> 
								</div>
							</div>
							
							<div class="col-md-12 float-left" style="display:none" id="staff_eng_1_box">
								<div class="col-md-12 float-left mega-menu-heading">Engineering / Manufacturing</div>
								<div class="col-md-6 float-left menu-inner-text">We provide the Engineering and Manufacturing professionals with the advanced skill-sets needed to drive innovation in the Transportation, Pharmaceutical, Medical Device, Energy, and Government industries.

									<br>
									<br> <strong>Quicklinks</strong>
									<ul class="quick-links">
										<li><a href="#">Search Our Eng / Mfg Jobs</a> 
										</li>
										<li><a href="#">Top Eng / Mfg Skills</a> 
										</li>
										<li><a href="#">Join Our Judge Team</a>
										</li>
										<li><a href="#">Request for Services</a>
										</li>
									</ul>
								</div>
								<div class="col-md-6 float-left"> <strong class="corporate-hq">IT Staffing for Financial Services Case Study </strong>
									<img src="img/it-staffing-for-financial-services-case-study.jpg" width="100%" alt="" />
									<br>
									<br> <span class="mega-menu-all-text">Learn how The Judge Group became the #1 ranked vendor for a leading global financial services firm within one year.
</span> 
								</div>
							</div>
							
							<div class="col-md-12 float-left" style="display:none" id="staff_fin_1_box">
								<div class="col-md-12 float-left mega-menu-heading">Professional Services</div>
								<div class="col-md-6 float-left menu-inner-text">We place all levels of non-IT professionals in the fields of finance & accounting, HR, legal, marketing, and administrative.
									<br>
									<br> <strong>Quicklinks</strong>
									<ul class="quick-links">
										<li><a href="#">Search Our Finance / HR / Legal Jobs</a> 
										</li>
										<li><a href="#">Positions We Place</a> 
										</li>
										<li><a href="#">Join Our Team</a>
										</li>
										<li><a href="#">Request For Services</a>
										</li>
									</ul>
								</div>
								<div class="col-md-6 float-left"> <strong class="corporate-hq">IT Staffing for Financial Services Case Study</strong>
									<img src="img/it-staffing-for-financial-services-case-study.jpg" width="100%" alt="" />
									<br>
									<br> <span class="mega-menu-all-text">Learn how The Judge Group became the #1 ranked vendor for a leading global financial services firm within one year.
</span> 
								</div>
							</div>
						
							<div class="col-md-12 float-left" style="display:none" id="staff_lif_1_box">
								<div class="col-md-12 float-left mega-menu-heading">Life Sciences Staffing</div>
								<div class="col-md-6 float-left menu-inner-text">Our recruiters have a scientific background and a deep understanding of the life science space allowing them to find the talent with the specialized skill-sets to meet your specific needs.

									<br>
									<br> <strong>Quicklinks</strong>
									<ul class="quick-links">
										<li><a href="#">Search Our Life Sciences Jobs</a> 
										</li>
										<li><a href="#">Top Segments We Serve</a> 
										</li>
										<li><a href="#">Request for Services</a>
										</li>
									</ul>
								</div>
								<div class="col-md-6 float-left"> <strong class="corporate-hq">IT Staffing for Financial Services Case Study</strong>
									<img src="img/it-staffing-for-financial-services-case-study.jpg" width="100%" alt="" />
									<br>
									<br> <span class="mega-menu-all-text">Learn how The Judge Group became the #1 ranked vendor for a leading global financial services firm within one year.
</span> 
								</div>
							</div>
							
							<div class="col-md-12 float-left" style="display:none" id="staff_msp_1_box">
								<div class="col-md-12 float-left mega-menu-heading">Workforce Solutions</div>
								<div class="col-md-6 float-left menu-inner-text">Judge leverages its nearly 50 years of experience in the staffing industry to provide clients with workforce solutions to meet their unique program needs from our custom VMS/MSP solution, StaffingLogic, to an end-to-end RPO Solution. 
									<br>
									<br> <strong>Quicklinks</strong>
									<ul class="quick-links">
										<li><a href="#">StaffingLogic VMS Feature & Benefits</a> 
										</li>
										<li><a href="#">VMS/MSP Value to Decision Makers</a> 
										</li>
										<li><a href="#">Our RPO Approach</a>
										</li>
										<li><a href="#">Request for Services</a>
										</li>
									</ul>
								</div>
								<div class="col-md-6 float-left"> <strong class="corporate-hq">Bracco Diagnostic Inc. Case Study</strong>
									<img src="img/bracco-diagnostic-inc-case-study.jpg" width="100%" alt="" />
									<br>
									<br> <span class="mega-menu-all-text">StaffingLogic, Judge’s VMS / MSP Solution, was brought in to provide real-time visibility into the client’s contingent workforce program and to offer automation of the process from req-to-check. 
</span> 
								</div>
							</div>
							
							<div class="col-md-12 float-left" style="display:none" id="staff_rpo_1_box">
								<div class="col-md-12 float-left mega-menu-heading">Direct Placement</div>
								<div class="col-md-6 float-left menu-inner-text">Direct placement services is what Judge was founded on in 1970 and we are take nearly 50 years of experience into  providing Manufacturing, Engineering, Supply Chain, Sales & Marketing, and Retail professionals to all of our clients.



									<br>
									<br> <strong>Quicklinks</strong>
									<ul class="quick-links">
										<li><a href="#">Search Our Direct Placement Jobs</a> 
										</li>
										<li><a href="#">Areas of Expertise
</a> 
										</li>
										<li><a href="#">Positions We Place
</a>
										</li>
										<li><a href="#">		Request for Services




</a>
										</li>
										
									</ul>
								</div>
								<div class="col-md-6 float-left"> <strong class="corporate-hq">IT Staffing for Financial Services Case Study</strong>
									<img src="img/it-staffing-for-financial-services-case-study.jpg" width="100%" alt="" />
									<br>
									<br> <span class="mega-menu-all-text">Learn how The Judge Group became the #1 ranked vendor for a leading global financial services firm within one year.
</span> 
								</div>
							</div>
							
							<div class="col-md-12 float-left" style="display:none" id="staff_techsol_21_box">
								<div class="col-md-12 float-left mega-menu-heading">Performance Consulting & Support</div>
								<div class="col-md-6 float-left menu-inner-text">We focus on thorough analysis and program goals to design custom programs that utilize digital learning assets and support tools to deliver strategic results.
<br>
									<br> <strong>Quicklinks</strong>
									<ul class="quick-links">
										<li><a href="#">Judge Learning Showcase
</a> 
										</li>
										<li><a href="#">Join Our Judge Learning Team
</a> 
										</li>
										<li><a href="#">Request for Services	





</a>
										</li>
										
									</ul>
								</div>
								<div class="col-md-6 float-left"> <strong class="corporate-hq">Blended Learning Case Study </strong>
									<img src="img/blended-learning-case-study.jpg" width="100%" alt="" />
									<br>
									<br> <span class="mega-menu-all-text">A biopharmaceutical company with focus on innovative research, teamed up with Judge Learning Solutions to design and develop a custom leadership training program for its senior employees.</span> 
								</div>
							</div>
							<div class="col-md-12 float-left" style="display:none" id="staff_techsol_22_box">
								<div class="col-md-12 float-left mega-menu-heading">EMR Training & Support

</div>
								<div class="col-md-6 float-left menu-inner-text">Our experience with the entire Electronic Medial Records training and support lifecycle, and expertise with Epic, Cerner, Allscripts, and all EMR tools help us address any of your EMR needs.  




									<br>
									<br> <strong>Quicklinks</strong>
									<ul class="quick-links">
										<li><a href="#">EMR Go-Live Support</a> 
										</li>
										<li><a href="#">EMR Staffing Services</a> 
										</li>
										<li><a href="#">Judge Learning Showcase
</a>
										</li>
										<li><a href="#">Request for Services</a>
										</li>
										
									</ul>
								</div>
								<div class="col-md-6 float-left"> <strong class="corporate-hq">Electronic Medical Records Implementation Case Study </strong>
									<img src="img/emr-implementation-case-study.jpg" width="100%" alt="" />
									<br>
									<br> <span class="mega-menu-all-text">Major teaching hospital required a comprehensive learning and change management program to remain on tight schedule following the implementation of customized EMR software across their facilities.</span> 
								</div>
							</div>
							<div class="col-md-12 float-left" style="display:none" id="staff_techsol_23_box">
								<div class="col-md-12 float-left mega-menu-heading">Org Change Management


</div>
								<div class="col-md-6 float-left menu-inner-text">Whether it is cultural, process, or technology, we help organizations of all sizes tackle the challenges of organizational change. 



									<br>
									<br> <strong>Quicklinks</strong>
									<ul class="quick-links">
										<li><a href="#">Our OCM Talent</a> 
										</li>
										<li><a href="#">Judge Learning Showcase
</a> 
										</li>
										<li><a href="#">Request for Services</a>
										</li>
										
									</ul>
								</div>
								<div class="col-md-6 float-left"> <strong class="corporate-hq">Organizational Change Management Case Study </strong>
									<img src="img/organizational-change-management-case-study.jpg" width="100%" alt="" />
									<br>
									<br> <span class="mega-menu-all-text">A global biopharmaceutical leader was being spun off from it’s parent company to form a new standalone entity. The company turned to Judge to help with organizational change management...</span> 
								</div>
							</div>
							
							<div class="col-md-12 float-left" style="display:none" id="staff_cus_1_box">
								<div class="col-md-12 float-left mega-menu-heading">Digital</div>
								<div class="col-md-6 float-left menu-inner-text">Our technology solutions, from network infrastructure and data center to A/V solutions and digital signage, are customized for our clients and geared towards high performance, scalability, availability, and reliability.
									<br>
									<br> <strong>Quicklinks</strong>
									<ul class="quick-links">
										<li><a href="#">Network infrastructure</a> 
										</li>
										<li><a href="#">Managed services</a> 
										</li>
										<li><a href="#">A/V Collaborative Solutions</a>
										</li>
										<li><a href="#">Data Center</a>
										</li>
										<li><a href="#">Construction Technology Planning &amp; Design</a>
										</li>
									</ul>
								</div>
								<div class="col-md-6 float-left"> <strong class="corporate-hq">Corporate HQ Technology Build</strong>
									<img src="img/managed-services-img.jpg" width="100%" alt="" />
									<br>
									<br> <span class="mega-menu-all-text">A multinational telecommunications conglomerate was covering 1 million sq. ft. of traditional office space to open workspaces, across 7 buildings. They contracted The Judge Group to handle the transformation.</span> 
								</div>
							</div>
							<div class="col-md-12 float-left" style="display:none" id="staff_tech_1_box">
								<div class="col-md-12 float-left mega-menu-heading">Infrastructure</div>
								<div class="col-md-6 float-left menu-inner-text">Our technology solutions, from network infrastructure and data center to A/V solutions and digital signage, are customized for our clients and geared towards high performance, scalability, availability, and reliability.
									<br>
									<br> <strong>Quicklinks</strong>
									<ul class="quick-links">
										<li><a href="#">Network infrastructure</a> 
										</li>
										<li><a href="#">Managed services</a> 
										</li>
										<li><a href="#">A/V Collaborative Solutions</a>
										</li>
										<li><a href="#">Data Center</a>
										</li>
										<li><a href="#">Construction Technology Planning &amp; Design</a>
										</li>
									</ul>
								</div>
								<div class="col-md-6 float-left"> <strong class="corporate-hq">Corporate HQ Technology Build</strong>
									<img src="img/managed-services-img.jpg" width="100%" alt="" />
									<br>
									<br> <span class="mega-menu-all-text">A multinational telecommunications conglomerate was covering 1 million sq. ft. of traditional office space to open workspaces, across 7 buildings. They contracted The Judge Group to handle the transformation.</span> 
								</div>
							</div>
							<div class="col-md-12 float-left" style="display:none" id="staff_learn_1_box">
								<div class="col-md-12 float-left mega-menu-heading">Smart Building Services</div>
								<div class="col-md-6 float-left menu-inner-text">Our technology solutions, from network infrastructure and data center to A/V solutions and digital signage, are customized for our clients and geared towards high performance, scalability, availability, and reliability.
									<br>
									<br> <strong>Quicklinks</strong>
									<ul class="quick-links">
										<li><a href="#">Network infrastructure</a> 
										</li>
										<li><a href="#">Managed services</a> 
										</li>
										<li><a href="#">A/V Collaborative Solutions</a>
										</li>
										<li><a href="#">Data Center</a>
										</li>
										<li><a href="#">Construction Technology Planning &amp; Design</a>
										</li>
									</ul>
								</div>
								<div class="col-md-6 float-left"> <strong class="corporate-hq">Corporate HQ Technology Build</strong>
									<img src="img/managed-services-img.jpg" width="100%" alt="" />
									<br>
									<br> <span class="mega-menu-all-text">A multinational telecommunications conglomerate was covering 1 million sq. ft. of traditional office space to open workspaces, across 7 buildings. They contracted The Judge Group to handle the transformation.</span> 
								</div>
							</div>
						   
						    <div class="col-md-12 float-left" style="display:none" id="staff_techsol_24_box">
								<div class="col-md-12 float-left mega-menu-heading">Collaboration and Cloud</div>
								<div class="col-md-6 float-left menu-inner-text">Our technology solutions, from network infrastructure and data center to A/V solutions and digital signage, are customized for our clients and geared towards high performance, scalability, availability, and reliability.
									<br>
									<br> <strong>Quicklinks</strong>
									<ul class="quick-links">
										<li><a href="#">Network infrastructure</a> 
										</li>
										<li><a href="#">Managed services</a> 
										</li>
										<li><a href="#">A/V Collaborative Solutions</a>
										</li>
										<li><a href="#">Data Center</a>
										</li>
										<li><a href="#">Construction Technology Planning &amp; Design</a>
										</li>
									</ul>
								</div>
								<div class="col-md-6 float-left"> <strong class="corporate-hq">Corporate HQ Technology Build</strong>
									<img src="img/managed-services-img.jpg" width="100%" alt="" />
									<br>
									<br> <span class="mega-menu-all-text">A multinational telecommunications conglomerate was covering 1 million sq. ft. of traditional office space to open workspaces, across 7 buildings. They contracted The Judge Group to handle the transformation.</span> 
								</div>
							</div>
						    <div class="col-md-12 float-left" style="display:none" id="staff_techsol_25_box">
								<div class="col-md-12 float-left mega-menu-heading">Speciality Services</div>
								<div class="col-md-6 float-left menu-inner-text">Our technology solutions, from network infrastructure and data center to A/V solutions and digital signage, are customized for our clients and geared towards high performance, scalability, availability, and reliability.
									<br>
									<br> <strong>Quicklinks</strong>
									<ul class="quick-links">
										<li><a href="#">Network infrastructure</a> 
										</li>
										<li><a href="#">Managed services</a> 
										</li>
										<li><a href="#">A/V Collaborative Solutions</a>
										</li>
										<li><a href="#">Data Center</a>
										</li>
										<li><a href="#">Construction Technology Planning &amp; Design</a>
										</li>
									</ul>
								</div>
								<div class="col-md-6 float-left"> <strong class="corporate-hq">Corporate HQ Technology Build</strong>
									<img src="img/managed-services-img.jpg" width="100%" alt="" />
									<br>
									<br> <span class="mega-menu-all-text">A multinational telecommunications conglomerate was covering 1 million sq. ft. of traditional office space to open workspaces, across 7 buildings. They contracted The Judge Group to handle the transformation.</span> 
								</div>
							</div>
							<div class="col-md-12 float-left" style="display:none" id="staff_techsol_26_box">
								<div class="col-md-12 float-left mega-menu-heading">Mergers and Acquisitions</div>
								<div class="col-md-6 float-left menu-inner-text">Our technology solutions, from network infrastructure and data center to A/V solutions and digital signage, are customized for our clients and geared towards high performance, scalability, availability, and reliability.
									<br>
									<br> <strong>Quicklinks</strong>
									<ul class="quick-links">
										<li><a href="#">Network infrastructure</a> 
										</li>
										<li><a href="#">Managed services</a> 
										</li>
										<li><a href="#">A/V Collaborative Solutions</a>
										</li>
										<li><a href="#">Data Center</a>
										</li>
										<li><a href="#">Construction Technology Planning &amp; Design</a>
										</li>
									</ul>
								</div>
								<div class="col-md-6 float-left"> <strong class="corporate-hq">Corporate HQ Technology Build</strong>
									<img src="img/managed-services-img.jpg" width="100%" alt="" />
									<br>
									<br> <span class="mega-menu-all-text">A multinational telecommunications conglomerate was covering 1 million sq. ft. of traditional office space to open workspaces, across 7 buildings. They contracted The Judge Group to handle the transformation.</span> 
								</div>
							</div>
							
							<div class="col-md-12 float-left" style="display:none" id="staff_techsol_27_box">
								<div class="col-md-12 float-left mega-menu-heading">Global Delivery Centers</div>
								<div class="col-md-6 float-left menu-inner-text">Our technology solutions, from network infrastructure and data center to A/V solutions and digital signage, are customized for our clients and geared towards high performance, scalability, availability, and reliability.
									<br>
									<br> <strong>Quicklinks</strong>
									<ul class="quick-links">
										<li><a href="#">Network infrastructure</a> 
										</li>
										<li><a href="#">Managed services</a> 
										</li>
										<li><a href="#">A/V Collaborative Solutions</a>
										</li>
										<li><a href="#">Data Center</a>
										</li>
										<li><a href="#">Construction Technology Planning &amp; Design</a>
										</li>
									</ul>
								</div>
								<div class="col-md-6 float-left"> <strong class="corporate-hq">Corporate HQ Technology Build</strong>
									<img src="img/managed-services-img.jpg" width="100%" alt="" />
									<br>
									<br> <span class="mega-menu-all-text">A multinational telecommunications conglomerate was covering 1 million sq. ft. of traditional office space to open workspaces, across 7 buildings. They contracted The Judge Group to handle the transformation.</span> 
								</div>
							</div>
						    <div class="col-md-12 float-left" style="display:none" id="staff_techsol_28_box">
								<div class="col-md-12 float-left mega-menu-heading">QA Services</div>
								<div class="col-md-6 float-left menu-inner-text">Our technology solutions, from network infrastructure and data center to A/V solutions and digital signage, are customized for our clients and geared towards high performance, scalability, availability, and reliability.
									<br>
									<br> <strong>Quicklinks</strong>
									<ul class="quick-links">
										<li><a href="#">Network infrastructure</a> 
										</li>
										<li><a href="#">Managed services</a> 
										</li>
										<li><a href="#">A/V Collaborative Solutions</a>
										</li>
										<li><a href="#">Data Center</a>
										</li>
										<li><a href="#">Construction Technology Planning &amp; Design</a>
										</li>
									</ul>
								</div>
								<div class="col-md-6 float-left"> <strong class="corporate-hq">Corporate HQ Technology Build</strong>
									<img src="img/managed-services-img.jpg" width="100%" alt="" />
									<br>
									<br> <span class="mega-menu-all-text">A multinational telecommunications conglomerate was covering 1 million sq. ft. of traditional office space to open workspaces, across 7 buildings. They contracted The Judge Group to handle the transformation.</span> 
								</div>
							</div>
							<div class="col-md-12 float-left" style="display:none" id="staff_techsol_29_box">
								<div class="col-md-12 float-left mega-menu-heading">Transformation</div>
								<div class="col-md-6 float-left menu-inner-text">Our technology solutions, from network infrastructure and data center to A/V solutions and digital signage, are customized for our clients and geared towards high performance, scalability, availability, and reliability.
									<br>
									<br> <strong>Quicklinks</strong>
									<ul class="quick-links">
										<li><a href="#">Network infrastructure</a> 
										</li>
										<li><a href="#">Managed services</a> 
										</li>
										<li><a href="#">A/V Collaborative Solutions</a>
										</li>
										<li><a href="#">Data Center</a>
										</li>
										<li><a href="#">Construction Technology Planning &amp; Design</a>
										</li>
									</ul>
								</div>
								<div class="col-md-6 float-left"> <strong class="corporate-hq">Corporate HQ Technology Build</strong>
									<img src="img/managed-services-img.jpg" width="100%" alt="" />
									<br>
									<br> <span class="mega-menu-all-text">A multinational telecommunications conglomerate was covering 1 million sq. ft. of traditional office space to open workspaces, across 7 buildings. They contracted The Judge Group to handle the transformation.</span> 
								</div>
							</div>
							
						    <div class="col-md-12 float-left" style="display:none" id="staff_techsol_30_box">
								<div class="col-md-12 float-left mega-menu-heading">New 1</div>
								<div class="col-md-6 float-left menu-inner-text">Our technology solutions, from network infrastructure and data center to A/V solutions and digital signage, are customized for our clients and geared towards high performance, scalability, availability, and reliability.
									<br>
									<br> <strong>Quicklinks</strong>
									<ul class="quick-links">
										<li><a href="#">Network infrastructure</a> 
										</li>
										<li><a href="#">Managed services</a> 
										</li>
										<li><a href="#">A/V Collaborative Solutions</a>
										</li>
										<li><a href="#">Data Center</a>
										</li>
										<li><a href="#">Construction Technology Planning &amp; Design</a>
										</li>
									</ul>
								</div>
								<div class="col-md-6 float-left"> <strong class="corporate-hq">Corporate HQ Technology Build</strong>
									<img src="img/managed-services-img.jpg" width="100%" alt="" />
									<br>
									<br> <span class="mega-menu-all-text">A multinational telecommunications conglomerate was covering 1 million sq. ft. of traditional office space to open workspaces, across 7 buildings. They contracted The Judge Group to handle the transformation.</span> 
								</div>
							</div>
						    <div class="col-md-12 float-left" style="display:none" id="staff_techsol_31_box">
								<div class="col-md-12 float-left mega-menu-heading">New 2</div>
								<div class="col-md-6 float-left menu-inner-text">Our technology solutions, from network infrastructure and data center to A/V solutions and digital signage, are customized for our clients and geared towards high performance, scalability, availability, and reliability.
									<br>
									<br> <strong>Quicklinks</strong>
									<ul class="quick-links">
										<li><a href="#">Network infrastructure</a> 
										</li>
										<li><a href="#">Managed services</a> 
										</li>
										<li><a href="#">A/V Collaborative Solutions</a>
										</li>
										<li><a href="#">Data Center</a>
										</li>
										<li><a href="#">Construction Technology Planning &amp; Design</a>
										</li>
									</ul>
								</div>
								<div class="col-md-6 float-left"> <strong class="corporate-hq">Corporate HQ Technology Build</strong>
									<img src="img/managed-services-img.jpg" width="100%" alt="" />
									<br>
									<br> <span class="mega-menu-all-text">A multinational telecommunications conglomerate was covering 1 million sq. ft. of traditional office space to open workspaces, across 7 buildings. They contracted The Judge Group to handle the transformation.</span> 
								</div>
							</div>
							<div class="col-md-12 float-left" style="display:none" id="staff_techsol_32_box">
								<div class="col-md-12 float-left mega-menu-heading">New 3</div>
								<div class="col-md-6 float-left menu-inner-text">Our technology solutions, from network infrastructure and data center to A/V solutions and digital signage, are customized for our clients and geared towards high performance, scalability, availability, and reliability.
									<br>
									<br> <strong>Quicklinks</strong>
									<ul class="quick-links">
										<li><a href="#">Network infrastructure</a> 
										</li>
										<li><a href="#">Managed services</a> 
										</li>
										<li><a href="#">A/V Collaborative Solutions</a>
										</li>
										<li><a href="#">Data Center</a>
										</li>
										<li><a href="#">Construction Technology Planning &amp; Design</a>
										</li>
									</ul>
								</div>
								<div class="col-md-6 float-left"> <strong class="corporate-hq">Corporate HQ Technology Build</strong>
									<img src="img/managed-services-img.jpg" width="100%" alt="" />
									<br>
									<br> <span class="mega-menu-all-text">A multinational telecommunications conglomerate was covering 1 million sq. ft. of traditional office space to open workspaces, across 7 buildings. They contracted The Judge Group to handle the transformation.</span> 
								</div>
							</div>
					        <div class="col-md-12 float-left" style="display:none" id="staff_techsol_33_box">
							<div class="col-md-12 float-left mega-menu-heading">Data Center</div>
							<div class="col-md-6 float-left menu-inner-text">We’ll help you evaluate and better utilize your data center for more efficient and stable power &amp; cooling solutions. We’ll help guide you through the data center transformation process to make sure nothing is missed. 
								<br>
								<br> <strong>Quicklinks</strong>
								<ul class="quick-links">
									<li><a href="https://www.youtube.com/watch?v=TrhTc41HNPA">Judge Technology Solutions Video</a> 
									</li>
										<li><a href="#">Join our Judge Technology Solutions Team</a> </li>
									<li><a href="#">Request for Services</a></li>
								</ul>
							</div>
							<div class="col-md-6 float-left"> <strong class="corporate-hq">Corporate/Commercial Case Study</strong>
								<img src="img/corporate-commercial-case-study.jpg" width="100%" alt="" />
								<br>
								<br> <span class="mega-menu-all-text">With more than 20 years of experience, Judge has optimized the entire implementation approach, and has a dedicated team with extensive experience providing design and consulting services for IT applications... </span> 
							</div>
						</div>
						<div class="col-md-12 float-left" style="display:none" id="staff_techsol_34_box">
							<div class="col-md-12 float-left mega-menu-heading">Construction Planning &amp; Design</div>
							<div class="col-md-6 float-left menu-inner-text">Our team is composed of technology infrastructure subject matter experts who will represent your IT team at the construction planning table. We make sure all construction designs take IT needs into account to optimize your IT infrastructure.
								<br>
								<br> <strong>Quicklinks</strong>
								<ul class="quick-links">
									<li><a href="https://www.youtube.com/watch?v=TrhTc41HNPA">Judge Technology Solutions Video</a> 
									</li>
										<li><a href="#">Join our Judge Technology Solutions Team</a> </li>
									<li><a href="#">Request for Services</a></li>
								</ul>
							</div>
							<div class="col-md-6 float-left"> <strong class="corporate-hq">Corporate Headquarters Build Case Study</strong>
								<img src="img/av-case-study.jpg" width="100%" alt="" />
								<br>
								<br> <span class="mega-menu-all-text">A multinational telecommunications conglomerate was converting 1 million sq. ft. of traditional office space to open workspaces, across 7 buildings.</span> 
							</div>
						</div>


							<div class="col-md-12 float-left" style="display:none" id="staff_techsol_35_box">
								<div class="col-md-12 float-left mega-menu-heading">New 1</div>
								<div class="col-md-6 float-left menu-inner-text">Our technology solutions, from network infrastructure and data center to A/V solutions and digital signage, are customized for our clients and geared towards high performance, scalability, availability, and reliability.
									<br>
									<br> <strong>Quicklinks</strong>
									<ul class="quick-links">
										<li><a href="#">Network infrastructure</a> 
										</li>
										<li><a href="#">Managed services</a> 
										</li>
										<li><a href="#">A/V Collaborative Solutions</a>
										</li>
										<li><a href="#">Data Center</a>
										</li>
										<li><a href="#">Construction Technology Planning &amp; Design</a>
										</li>
									</ul>
								</div>
								<div class="col-md-6 float-left"> <strong class="corporate-hq">Corporate HQ Technology Build</strong>
									<img src="img/managed-services-img.jpg" width="100%" alt="" />
									<br>
									<br> <span class="mega-menu-all-text">A multinational telecommunications conglomerate was covering 1 million sq. ft. of traditional office space to open workspaces, across 7 buildings. They contracted The Judge Group to handle the transformation.</span> 
								</div>
							</div>
							
						     <div class="col-md-12 float-left" style="display:none" id="staff_techsol_36_box">
								<div class="col-md-12 float-left mega-menu-heading">New 2</div>
								<div class="col-md-6 float-left menu-inner-text">Our technology solutions, from network infrastructure and data center to A/V solutions and digital signage, are customized for our clients and geared towards high performance, scalability, availability, and reliability.
									<br>
									<br> <strong>Quicklinks</strong>
									<ul class="quick-links">
										<li><a href="#">Network infrastructure</a> 
										</li>
										<li><a href="#">Managed services</a> 
										</li>
										<li><a href="#">A/V Collaborative Solutions</a>
										</li>
										<li><a href="#">Data Center</a>
										</li>
										<li><a href="#">Construction Technology Planning &amp; Design</a>
										</li>
									</ul>
								</div>
								<div class="col-md-6 float-left"> <strong class="corporate-hq">Corporate HQ Technology Build</strong>
									<img src="img/managed-services-img.jpg" width="100%" alt="" />
									<br>
									<br> <span class="mega-menu-all-text">A multinational telecommunications conglomerate was covering 1 million sq. ft. of traditional office space to open workspaces, across 7 buildings. They contracted The Judge Group to handle the transformation.</span> 
								</div>
							</div>
						    <div class="col-md-12 float-left" style="display:none" id="staff_techsol_37_box">
								<div class="col-md-12 float-left mega-menu-heading">New 3</div>
								<div class="col-md-6 float-left menu-inner-text">Our technology solutions, from network infrastructure and data center to A/V solutions and digital signage, are customized for our clients and geared towards high performance, scalability, availability, and reliability.
									<br>
									<br> <strong>Quicklinks</strong>
									<ul class="quick-links">
										<li><a href="#">Network infrastructure</a> 
										</li>
										<li><a href="#">Managed services</a> 
										</li>
										<li><a href="#">A/V Collaborative Solutions</a>
										</li>
										<li><a href="#">Data Center</a>
										</li>
										<li><a href="#">Construction Technology Planning &amp; Design</a>
										</li>
									</ul>
								</div>
								<div class="col-md-6 float-left"> <strong class="corporate-hq">Corporate HQ Technology Build</strong>
									<img src="img/managed-services-img.jpg" width="100%" alt="" />
									<br>
									<br> <span class="mega-menu-all-text">A multinational telecommunications conglomerate was covering 1 million sq. ft. of traditional office space to open workspaces, across 7 buildings. They contracted The Judge Group to handle the transformation.</span> 
								</div>
							</div>
							
							<div class="col-md-12 float-left" style="display:none" id="staff_techsol_38_box">
								<div class="col-md-12 float-left mega-menu-heading">Performance Consulting & Support</div>
								<div class="col-md-6 float-left menu-inner-text">We focus on thorough analysis and program goals to design custom programs that utilize digital learning assets and support tools to deliver strategic results.
<br>
									<br> <strong>Quicklinks</strong>
									<ul class="quick-links">
										<li><a href="#">Judge Learning Showcase
</a> 
										</li>
										<li><a href="#">Join Our Judge Learning Team
</a> 
										</li>
										<li><a href="#">Request for Services	





</a>
										</li>
										
									</ul>
								</div>
								<div class="col-md-6 float-left"> <strong class="corporate-hq">Blended Learning Case Study </strong>
									<img src="img/blended-learning-case-study.jpg" width="100%" alt="" />
									<br>
									<br> <span class="mega-menu-all-text">A biopharmaceutical company with focus on innovative research, teamed up with Judge Learning Solutions to design and develop a custom leadership training program for its senior employees.</span> 
								</div>
							</div>
<div class="col-md-12 float-left" style="display:none" id="staff_techsol_39_box">
								<div class="col-md-12 float-left mega-menu-heading">EMR Training & Support

</div>
								<div class="col-md-6 float-left menu-inner-text">Our experience with the entire Electronic Medial Records training and support lifecycle, and expertise with Epic, Cerner, Allscripts, and all EMR tools help us address any of your EMR needs.  




									<br>
									<br> <strong>Quicklinks</strong>
									<ul class="quick-links">
										<li><a href="#">EMR Go-Live Support</a> 
										</li>
										<li><a href="#">EMR Staffing Services</a> 
										</li>
										<li><a href="#">Judge Learning Showcase
</a>
										</li>
										<li><a href="#">Request for Services</a>
										</li>
										
									</ul>
								</div>
								<div class="col-md-6 float-left"> <strong class="corporate-hq">Electronic Medical Records Implementation Case Study </strong>
									<img src="img/emr-implementation-case-study.jpg" width="100%" alt="" />
									<br>
									<br> <span class="mega-menu-all-text">Major teaching hospital required a comprehensive learning and change management program to remain on tight schedule following the implementation of customized EMR software across their facilities.</span> 
								</div>
							</div>
<div class="col-md-12 float-left" style="display:none" id="staff_techsol_40_box">
								<div class="col-md-12 float-left mega-menu-heading">Org Change Management


</div>
								<div class="col-md-6 float-left menu-inner-text">Whether it is cultural, process, or technology, we help organizations of all sizes tackle the challenges of organizational change. 



									<br>
									<br> <strong>Quicklinks</strong>
									<ul class="quick-links">
										<li><a href="#">Our OCM Talent</a> 
										</li>
										<li><a href="#">Judge Learning Showcase
</a> 
										</li>
										<li><a href="#">Request for Services</a>
										</li>
										
									</ul>
								</div>
								<div class="col-md-6 float-left"> <strong class="corporate-hq">Organizational Change Management Case Study </strong>
									<img src="img/organizational-change-management-case-study.jpg" width="100%" alt="" />
									<br>
									<br> <span class="mega-menu-all-text">A global biopharmaceutical leader was being spun off from it’s parent company to form a new standalone entity. The company turned to Judge to help with organizational change management...</span> 
								</div>
							</div>
							
							<div class="col-md-12 float-left" style="display:none" id="staff_techsol_41_box">
								<div class="col-md-12 float-left mega-menu-heading">New 1</div>
								<div class="col-md-6 float-left menu-inner-text">Our technology solutions, from network infrastructure and data center to A/V solutions and digital signage, are customized for our clients and geared towards high performance, scalability, availability, and reliability.
									<br>
									<br> <strong>Quicklinks</strong>
									<ul class="quick-links">
										<li><a href="#">Network infrastructure</a> 
										</li>
										<li><a href="#">Managed services</a> 
										</li>
										<li><a href="#">A/V Collaborative Solutions</a>
										</li>
										<li><a href="#">Data Center</a>
										</li>
										<li><a href="#">Construction Technology Planning &amp; Design</a>
										</li>
									</ul>
								</div>
								<div class="col-md-6 float-left"> <strong class="corporate-hq">Corporate HQ Technology Build</strong>
									<img src="img/managed-services-img.jpg" width="100%" alt="" />
									<br>
									<br> <span class="mega-menu-all-text">A multinational telecommunications conglomerate was covering 1 million sq. ft. of traditional office space to open workspaces, across 7 buildings. They contracted The Judge Group to handle the transformation.</span> 
								</div>
							</div>
							
							<div class="col-md-12 float-left" style="display:none" id="staff_techsol_42_box">
								<div class="col-md-12 float-left mega-menu-heading">New 2</div>
								<div class="col-md-6 float-left menu-inner-text">Our technology solutions, from network infrastructure and data center to A/V solutions and digital signage, are customized for our clients and geared towards high performance, scalability, availability, and reliability.
									<br>
									<br> <strong>Quicklinks</strong>
									<ul class="quick-links">
										<li><a href="#">Network infrastructure</a> 
										</li>
										<li><a href="#">Managed services</a> 
										</li>
										<li><a href="#">A/V Collaborative Solutions</a>
										</li>
										<li><a href="#">Data Center</a>
										</li>
										<li><a href="#">Construction Technology Planning &amp; Design</a>
										</li>
									</ul>
								</div>
								<div class="col-md-6 float-left"> <strong class="corporate-hq">Corporate HQ Technology Build</strong>
									<img src="img/managed-services-img.jpg" width="100%" alt="" />
									<br>
									<br> <span class="mega-menu-all-text">A multinational telecommunications conglomerate was covering 1 million sq. ft. of traditional office space to open workspaces, across 7 buildings. They contracted The Judge Group to handle the transformation.</span> 
								</div>
							</div>
						    <div class="col-md-12 float-left" style="display:none" id="staff_techsol_43_box">
								<div class="col-md-12 float-left mega-menu-heading">New 3</div>
								<div class="col-md-6 float-left menu-inner-text">Our technology solutions, from network infrastructure and data center to A/V solutions and digital signage, are customized for our clients and geared towards high performance, scalability, availability, and reliability.
									<br>
									<br> <strong>Quicklinks</strong>
									<ul class="quick-links">
										<li><a href="#">Network infrastructure</a> 
										</li>
										<li><a href="#">Managed services</a> 
										</li>
										<li><a href="#">A/V Collaborative Solutions</a>
										</li>
										<li><a href="#">Data Center</a>
										</li>
										<li><a href="#">Construction Technology Planning &amp; Design</a>
										</li>
									</ul>
								</div>
								<div class="col-md-6 float-left"> <strong class="corporate-hq">Corporate HQ Technology Build</strong>
									<img src="img/managed-services-img.jpg" width="100%" alt="" />
									<br>
									<br> <span class="mega-menu-all-text">A multinational telecommunications conglomerate was covering 1 million sq. ft. of traditional office space to open workspaces, across 7 buildings. They contracted The Judge Group to handle the transformation.</span> 
								</div>
							</div>
							 <div class="col-md-12 float-left" style="display:none" id="staff_techsol_15_box">
								<div class="col-md-12 float-left mega-menu-heading">Network Infrastructure  </div>
								<div class="col-md-6 float-left menu-inner-text">We have the expertise to provide all the underlying infrastructure that will make up the foundation of your technology systems. 
									<br>
									<br> <strong>Quicklinks</strong>
									<ul class="quick-links">
										<li><a href="https://www.youtube.com/watch?v=RezZ8oCrubI">Kalahari Video</a> 
										</li>
										<li><a href="#">Join our Judge Technology Solutions Team</a> </li>
										<li><a href="#">Request for Services</a>
										</li>
										
									</ul>
								</div>
								<div class="col-md-6 float-left"> <strong class="corporate-hq">Kalahari Case Study</strong>
									<img src="img/kalahari-case-study.jpg" width="100%" alt="" />
									<br>
									<br> <span class="mega-menu-all-text">Kalahari Resorts turned to The Judge Group for a network infrastructure and managed services solution for their new 450+ room hotel, 110,000 sq ft convention center and 100,000 sq ft indoor water park.</span> 
								</div>
							</div>
							<div class="col-md-12 float-left" style="display:none" id="staff_techsol_16_box">
								<div class="col-md-12 float-left mega-menu-heading">Managed Services</div>
								<div class="col-md-6 float-left menu-inner-text">We’ll help you solve your company’s collaboration and technology integration roadblocks. We help to simplify your complex web of specialized services into one place. 
									<br>
									<br> <strong>Quicklinks</strong>
									<ul class="quick-links">
										<li><a href="https://www.youtube.com/watch?v=RezZ8oCrubI">Kalahari Video</a> 
										</li>
										<li><a href="#">Join our Judge Technology Solutions Team</a> </li>
										<li><a href="#">Request for Services</a>
										</li>
									</ul>
								</div>
								<div class="col-md-6 float-left"> <strong class="corporate-hq">Kalahari Case Study</strong>
									<img src="img/kalahari-case-study.jpg" width="100%" alt="" />
									<br>
									<br> <span class="mega-menu-all-text">Kalahari Resorts turned to The Judge Group for a network infrastructure and managed services solution for their new 450+ room hotel, 110,000 sq ft convention center and 100,000 sq ft indoor water park.</span> 
								</div>
							</div>
							<div class="col-md-12 float-left" style="display:none" id="staff_techsol_17_box">
								<div class="col-md-12 float-left mega-menu-heading">A/V Collaborative Solutions</div>
								<div class="col-md-6 float-left menu-inner-text">Our tech-savvy engineers carry both network and A/V certifications for multiple systems, while our developers &amp; architects work to integrate your needs with cloud technologies like Microsoft Office 365.
									<br>
									<br> <strong>Quicklinks</strong>
									<ul class="quick-links">
										<li><a href="https://www.youtube.com/watch?v=RezZ8oCrubI">Kalahari Video</a> 
										</li>
										<li><a href="#">Join our Judge Technology Solutions Team</a> </li>
										<li><a href="#">Request for Services</a>
										</li>
									</ul>
								</div>
								<div class="col-md-6 float-left"> <strong class="corporate-hq">Corporate Headquarters Build Case Study</strong>
									<img src="img/av-case-study.jpg" width="100%" alt="" />
									<br>
									<br> <span class="mega-menu-all-text">A multinational telecommunications conglomerate was converting 1 million sq. ft. of traditional office space to open workspaces, across 7 buildings.</span> 
								</div>
							</div>

							
						
							<div class="col-md-12 float-left" style="display:none" id="staff_techsol_18_box">
								<div class="col-md-12 float-left mega-menu-heading">Instructor-Led Training </div>
								<div class="col-md-6 float-left menu-inner-text">Judge Learning offers interactive and engaging classroom training, either on a standalone basis or as part of a blended solution. Our network of highly-rated, certified professional trainers and a course list covering a wide array of topics are poised to meet your specific learner needs.



									<br>
									<br> <strong>Quicklinks</strong>
									<ul class="quick-links">
										<li><a href="#">Technology Course List</a> 
										</li>
										<li><a href="#">Professional Development Course List</a> 
										</li>
										<li><a href="#">Learning Solutions Showcase	</a>
										</li>
										<li><a href="#">Request for Services</a>
										</li>
										
									</ul>
								</div>
								<div class="col-md-6 float-left"> <strong class="corporate-hq">Instructor-led Training Case Study </strong>
									<img src="img/instructor-led-training-case-study.jpg" width="100%" alt="" />
									<br>
									<br> <span class="mega-menu-all-text">A multi-national energy company looked to deploy a new business management process for their team of consultants. Training was developed so that the consultants could more effectively help...
</span> 
								</div>
							</div>
							
							<div class="col-md-12 float-left" style="display:none" id="staff_techsol_19_box">
								<div class="col-md-12 float-left mega-menu-heading">Learning Asset Development</div>
								<div class="col-md-6 float-left menu-inner-text">Our custom learning assets are developed in lockstep with organizational stakeholders to provide a professional, visual, and engaging training experience for the learners. 
									<br>
									<br> <strong>Quicklinks</strong>
									<ul class="quick-links">
										<li><a href="#">Microlearning solutions</a> 
										</li>
										<li><a href="#">eLearning</a> 
										</li>
										<li><a href="#">Join Our Learning Team</a>
										</li>
										<li><a href="#">Request for Services</a>
										</li>
										
									</ul>
								</div>
								<div class="col-md-6 float-left"> <strong class="corporate-hq">Custom Mobile Training Application</strong>
									<img src="img/custom-mobile-raining-application.jpg" width="100%" alt="" />
									<br>
									<br> <span class="mega-menu-all-text">A leading distributor of the world’s top luxury wine, spirits, and beer brands turned to Judge Learning for help designing and developing a custom learning solution for over 2,000 commercial drivers.</span> 
								</div>
							</div>
							<div class="col-md-12 float-left" style="display:none" id="staff_techsol_20_box">
								<div class="col-md-12 float-left mega-menu-heading">Learning Strategy Consultation</div>
								<div class="col-md-6 float-left menu-inner-text">Our learning professionals take a consultative approach to determine an organization’s goals then design a custom program to meet each unique learning need. 
									<br>
									<br> <strong>Quicklinks</strong>
									<ul class="quick-links">
										<li><a href="#">Learning Needs Analysis</a> 
										</li>
										<li><a href="#">Learning Solutions Showcase</a> 
										</li>
										<li><a href="#">Join Our Judge Learning Team</a>
										</li>
										<li><a href="#">Request for Services</a>
										</li>
										
									</ul>
								</div>
								<div class="col-md-6 float-left"> <strong class="corporate-hq">Pharmaceutical Learning Case Study</strong>
									<img src="img/pharmaceutical-learning-case-study.jpg" width="100%" alt="" />
									<br>
									<br> <span class="mega-menu-all-text">A major food service distributor turned to Judge Learning Solutions to standardize their Supply Chain operations. Judge designed, developed, and supported an immersive training experience for Transportation Managers...</span> 
								</div>
							</div>
							
						</li>
					</ul>
					<!-- end row -->
				</div>
			</li>
			<li class="dropdown menu-item-has-mega-menu"> <a href="#" class="dropdown-toggle" data-toggle="dropdown">RESOURCES</a>
				<div class="mega-menu dropdown-menu">
					<ul class="mega-menu-row" role="menu">
						<li class="mega-menu-col col-md-4 order-3 l-menu-hight">
							<ul class="sub-menu text-left staffing-sub-menu">
								<li id="res_blog_1"><a href="#">Blogs</a>
								</li>
								<li id="res_sal_1"><a href="#">Salary Data</a>
								</li>
								<li id="res_per_1"><a href="#">Placement Data (Quarter)</a>
								</li>
								<li id="res_best_1"><a href="#">Interview Best Practices</a>
								</li>
								<li id="res_upcoming_1"><a href="#">Upcoming Webinars</a>
								</li>
								<li id="res_press_1"><a href="#">Press Release</a>
								</li>
								<li id="res_awards_1"><a href="#">Awards &amp; Recognition</a>
								</li>
								<li id="res_case_1"><a href="#">Case Studies</a>
								</li>
								<li id="res_white_1"><a href="#">Whitepapers</a>
								</li>
								<li id="res_news_1"><a href="#">News</a>
								</li>
							</ul>
						</li>
						<li class="mega-menu-col col-md-8 text-left">
							<div class="col-md-12 float-left" style="display:none" id="res_blog_1_box">
								<div class="col-md-12 float-left mega-menu-heading">Blogs</div>
								<div class="col-md-6 float-left menu-inner-text">Within our company, with our clients and with our candidates, Judge strives to continue an ongoing conversation - communicating openly and honestly. We've found the best way to foster long-term relationships is through frequent and candid dialogue, especially as today's world is constantly changing.
									<br>
									<br> <strong>Quicklinks</strong>
									<ul class="quick-links">
										<li><a href="#">Recent Blogs</a> 
										</li>
										<li><a href="#">Latest Videos</a> 
										</li>
										<li><a href="#">Popular Blogs</a> 
										</li>
									</ul>
								</div>
								<div class="col-md-6 float-left"> <strong class="corporate-hq">Developing Your Players</strong>
									<img src="img/jls_blog.jpg" width="100%" alt="" />
									<br>
									<br> <span class="mega-menu-all-text">Wow, the holiday season is over and just about all the Football Bowl games. If you’re like most folks, there were too many to watch or even keep up with. But even if you just watched a couple or maybe you focused on professional football...</span> 
								</div>
							</div>
							<div class="col-md-12 float-left" style="display:none" id="res_sal_1_box">
								<div class="col-md-12 float-left mega-menu-heading">Salary Data</div>
								<div class="col-md-6 float-left menu-inner-text">Within our company, with our clients and with our candidates, Judge strives to continue an ongoing conversation - communicating openly and honestly. We've found the best way to foster long-term relationships is through frequent and candid dialogue, especially as today's world is constantly changing.
									<br>
									<br> <strong>Quicklinks</strong>
									<ul class="quick-links">
										<li><a href="#">Recent Blogs</a> 
										</li>
										<li><a href="#">Latest Videos</a> 
										</li>
										<li><a href="#">Popular Blogs</a> 
										</li>
									</ul>
								</div>
								<div class="col-md-6 float-left"> <strong class="corporate-hq">Developing Your Players</strong>
									<img src="img/jls_blog.jpg" width="100%" alt="" />
									<br>
									<br> <span class="mega-menu-all-text">Wow, the holiday season is over and just about all the Football Bowl games. If you’re like most folks, there were too many to watch or even keep up with. But even if you just watched a couple or maybe you focused on professional football...</span> 
								</div>
							</div>
							<div class="col-md-12 float-left" style="display:none" id="res_per_1_box">
								<div class="col-md-12 float-left mega-menu-heading">Placement Data (Quarter)</div>
								<div class="col-md-6 float-left menu-inner-text">Within our company, with our clients and with our candidates, Judge strives to continue an ongoing conversation - communicating openly and honestly. We've found the best way to foster long-term relationships is through frequent and candid dialogue, especially as today's world is constantly changing.
									<br>
									<br> <strong>Quicklinks</strong>
									<ul class="quick-links">
										<li><a href="#">Recent Blogs</a> 
										</li>
										<li><a href="#">Latest Videos</a> 
										</li>
										<li><a href="#">Popular Blogs</a> 
										</li>
									</ul>
								</div>
								<div class="col-md-6 float-left"> <strong class="corporate-hq">Developing Your Players</strong>
									<img src="img/jls_blog.jpg" width="100%" alt="" />
									<br>
									<br> <span class="mega-menu-all-text">Wow, the holiday season is over and just about all the Football Bowl games. If you’re like most folks, there were too many to watch or even keep up with. But even if you just watched a couple or maybe you focused on professional football...</span> 
								</div>
							</div>
							<div class="col-md-12 float-left" style="display:none" id="res_best_1_box">
								<div class="col-md-12 float-left mega-menu-heading">Interview Best Practices</div>
								<div class="col-md-6 float-left menu-inner-text">Within our company, with our clients and with our candidates, Judge strives to continue an ongoing conversation - communicating openly and honestly. We've found the best way to foster long-term relationships is through frequent and candid dialogue, especially as today's world is constantly changing.
									<br>
									<br> <strong>Quicklinks</strong>
									<ul class="quick-links">
										<li><a href="#">Recent Blogs</a> 
										</li>
										<li><a href="#">Latest Videos</a> 
										</li>
										<li><a href="#">Popular Blogs</a> 
										</li>
									</ul>
								</div>
								<div class="col-md-6 float-left"> <strong class="corporate-hq">Developing Your Players</strong>
									<img src="img/jls_blog.jpg" width="100%" alt="" />
									<br>
									<br> <span class="mega-menu-all-text">Wow, the holiday season is over and just about all the Football Bowl games. If you’re like most folks, there were too many to watch or even keep up with. But even if you just watched a couple or maybe you focused on professional football...</span> 
								</div>
							</div>
							<div class="col-md-12 float-left" style="display:none" id="res_upcoming_1_box">
								<div class="col-md-12 float-left mega-menu-heading">Upcoming Webinars</div>
								<div class="col-md-6 float-left menu-inner-text">Within our company, with our clients and with our candidates, Judge strives to continue an ongoing conversation - communicating openly and honestly. We've found the best way to foster long-term relationships is through frequent and candid dialogue, especially as today's world is constantly changing.
									<br>
									<br> <strong>Quicklinks</strong>
									<ul class="quick-links">
										<li><a href="#">Recent Blogs</a> 
										</li>
										<li><a href="#">Latest Videos</a> 
										</li>
										<li><a href="#">Popular Blogs</a> 
										</li>
									</ul>
								</div>
								<div class="col-md-6 float-left"> <strong class="corporate-hq">Developing Your Players</strong>
									<img src="img/jls_blog.jpg" width="100%" alt="" />
									<br>
									<br> <span class="mega-menu-all-text">Wow, the holiday season is over and just about all the Football Bowl games. If you’re like most folks, there were too many to watch or even keep up with. But even if you just watched a couple or maybe you focused on professional football...</span> 
								</div>
							</div>
							<div class="col-md-12 float-left" style="display:none" id="res_press_1_box">
								<div class="col-md-12 float-left mega-menu-heading">Press Release</div>
								<div class="col-md-6 float-left menu-inner-text">Within our company, with our clients and with our candidates, Judge strives to continue an ongoing conversation - communicating openly and honestly. We've found the best way to foster long-term relationships is through frequent and candid dialogue, especially as today's world is constantly changing.
									<br>
									<br> <strong>Quicklinks</strong>
									<ul class="quick-links">
										<li><a href="#">Recent Blogs</a> 
										</li>
										<li><a href="#">Latest Videos</a> 
										</li>
										<li><a href="#">Popular Blogs</a> 
										</li>
									</ul>
								</div>
								<div class="col-md-6 float-left"> <strong class="corporate-hq">Developing Your Players</strong>
									<img src="img/jls_blog.jpg" width="100%" alt="" />
									<br>
									<br> <span class="mega-menu-all-text">Wow, the holiday season is over and just about all the Football Bowl games. If you’re like most folks, there were too many to watch or even keep up with. But even if you just watched a couple or maybe you focused on professional football...</span> 
								</div>
							</div>
							<div class="col-md-12 float-left" style="display:none" id="res_awards_1_box">
								<div class="col-md-12 float-left mega-menu-heading">Awards &amp; Recognition</div>
								<div class="col-md-6 float-left menu-inner-text">Within our company, with our clients and with our candidates, Judge strives to continue an ongoing conversation - communicating openly and honestly. We've found the best way to foster long-term relationships is through frequent and candid dialogue, especially as today's world is constantly changing.
									<br>
									<br> <strong>Quicklinks</strong>
									<ul class="quick-links">
										<li><a href="#">Recent Blogs</a> 
										</li>
										<li><a href="#">Latest Videos</a> 
										</li>
										<li><a href="#">Popular Blogs</a> 
										</li>
									</ul>
								</div>
								<div class="col-md-6 float-left"> <strong class="corporate-hq">Developing Your Players</strong>
									<img src="img/jls_blog.jpg" width="100%" alt="" />
									<br>
									<br> <span class="mega-menu-all-text">Wow, the holiday season is over and just about all the Football Bowl games. If you’re like most folks, there were too many to watch or even keep up with. But even if you just watched a couple or maybe you focused on professional football...</span> 
								</div>
							</div>
							<div class="col-md-12 float-left" style="display:none" id="res_case_1_box">
								<div class="col-md-12 float-left mega-menu-heading">Case Studies</div>
								<div class="col-md-6 float-left menu-inner-text">Within our company, with our clients and with our candidates, Judge strives to continue an ongoing conversation - communicating openly and honestly. We've found the best way to foster long-term relationships is through frequent and candid dialogue, especially as today's world is constantly changing.
									<br>
									<br> <strong>Quicklinks</strong>
									<ul class="quick-links">
										<li><a href="#">Recent Blogs</a> 
										</li>
										<li><a href="#">Latest Videos</a> 
										</li>
										<li><a href="#">Popular Blogs</a> 
										</li>
									</ul>
								</div>
								<div class="col-md-6 float-left"> <strong class="corporate-hq">Developing Your Players</strong>
									<img src="img/jls_blog.jpg" width="100%" alt="" />
									<br>
									<br> <span class="mega-menu-all-text">Wow, the holiday season is over and just about all the Football Bowl games. If you’re like most folks, there were too many to watch or even keep up with. But even if you just watched a couple or maybe you focused on professional football...</span> 
								</div>
							</div>
							<div class="col-md-12 float-left" style="display:none" id="res_white_1_box">
								<div class="col-md-12 float-left mega-menu-heading">Whitepapers</div>
								<div class="col-md-6 float-left menu-inner-text">Within our company, with our clients and with our candidates, Judge strives to continue an ongoing conversation - communicating openly and honestly. We've found the best way to foster long-term relationships is through frequent and candid dialogue, especially as today's world is constantly changing.
									<br>
									<br> <strong>Quicklinks</strong>
									<ul class="quick-links">
										<li><a href="#">Recent Blogs</a> 
										</li>
										<li><a href="#">Latest Videos</a> 
										</li>
										<li><a href="#">Popular Blogs</a> 
										</li>
									</ul>
								</div>
								<div class="col-md-6 float-left"> <strong class="corporate-hq">Developing Your Players</strong>
									<img src="img/jls_blog.jpg" width="100%" alt="" />
									<br>
									<br> <span class="mega-menu-all-text">Wow, the holiday season is over and just about all the Football Bowl games. If you’re like most folks, there were too many to watch or even keep up with. But even if you just watched a couple or maybe you focused on professional football...</span> 
								</div>
							</div>
							<div class="col-md-12 float-left" style="display:none" id="res_news_1_box">
								<div class="col-md-12 float-left mega-menu-heading">News</div>
								<div class="col-md-6 float-left menu-inner-text">Within our company, with our clients and with our candidates, Judge strives to continue an ongoing conversation - communicating openly and honestly. We've found the best way to foster long-term relationships is through frequent and candid dialogue, especially as today's world is constantly changing.
									<br>
									<br> <strong>Quicklinks</strong>
									<ul class="quick-links">
										<li><a href="#">Recent Blogs</a> 
										</li>
										<li><a href="#">Latest Videos</a> 
										</li>
										<li><a href="#">Popular Blogs</a> 
										</li>
									</ul>
								</div>
								<div class="col-md-6 float-left"> <strong class="corporate-hq">Developing Your Players</strong>
									<img src="img/jls_blog.jpg" width="100%" alt="" />
									<br>
									<br> <span class="mega-menu-all-text">Wow, the holiday season is over and just about all the Football Bowl games. If you’re like most folks, there were too many to watch or even keep up with. But even if you just watched a couple or maybe you focused on professional football...</span> 
								</div>
							</div>
						</li>
					</ul>
					<!-- end row -->
				</div>
			</li>
			<li class="dropdown menu-item-has-mega-menu"> <a href="#" class="dropdown-toggle" data-toggle="dropdown">INDUSTRIES</a>
				<div class="mega-menu dropdown-menu">
					<ul class="mega-menu-row" role="menu">
						<li class="mega-menu-col col-md-4 order-3 l-menu-hight">
							<ul class="sub-menu text-left staffing-sub-menu">
								<li id="ind_fin_1"><a href="#">Financial Services</a>
								</li>
								<li id="ind_health_1"><a href="#">Healthcare</a>
								</li>
								<li id="ind_tech_1"><a href="#">Technology/ Communications</a>
								</li>
								<li id="ind_bio_1"><a href="#">Biopharma</a>
								</li>
								<li id="ind_ene_1"><a href="#">Energy</a>
								</li>
								<li id="ind_gov_1"><a href="#">Government</a>
								</li>
								<li id="ind_manu_1"><a href="#">Manufacturing</a>
								</li>
								<li id="ind_supply_1"><a href="#">Supply Chain</a>
								</li>
								<li id="ind_higher_1"><a href="#">Higher Education</a>
								</li>
								<li id="ind_hospitality_1"><a href="#">Hospitality</a>
								</li>
							</ul>
						</li>
						<li class="mega-menu-col col-md-8 text-left">
							<div class="col-md-12 float-left" style="display:none" id="ind_fin_1_box">
								<div class="col-md-12 float-left mega-menu-heading">Financial Services</div>
								<div class="col-md-6 float-left menu-inner-text">The future of Financial Services companies will largely depend on their ability to adapt to the changing regulatory climate and adopt new technologies to stay competitive. New technology, cybersecurity...
									<br>
									<br> <strong>Quicklinks</strong>
									<ul class="quick-links">
										<li><a href="#">IT Trends in Financial Services</a>
										</li>
										<li><a href="#">Technology Solutions</a>
										</li>
										<li><a href="#">Talent Solutions</a>
										</li>
										<li><a href="#">Learning Solutions</a>
										</li>
									</ul>
								</div>
								<div class="col-md-6 float-left"> <strong class="corporate-hq">Financial Services Expertise</strong>
									<img src="img/financialservicesexpertise.jpg" width="100%" alt="" />
									<br>
									<br> <span class="mega-menu-all-text">The Financial Services industry is complex and ever changing. Judge has the experience to help your organization meet and exceed your goals. </span> 
								</div>
							</div>
							<div class="col-md-12 float-left" style="display:none" id="ind_health_1_box">
								<div class="col-md-12 float-left mega-menu-heading">Healthcare</div>
								<div class="col-md-6 float-left menu-inner-text">The future of Financial Services companies will largely depend on their ability to adapt to the changing regulatory climate and adopt new technologies to stay competitive. New technology, cybersecurity...
									<br>
									<br> <strong>Quicklinks</strong>
									<ul class="quick-links">
										<li><a href="#">IT Trends in Financial Services</a>
										</li>
										<li><a href="#">Technology Solutions</a>
										</li>
										<li><a href="#">Talent Solutions</a>
										</li>
										<li><a href="#">Learning Solutions</a>
										</li>
									</ul>
								</div>
								<div class="col-md-6 float-left"> <strong class="corporate-hq">Financial Services Expertise</strong>
									<img src="img/financialservicesexpertise.jpg" width="100%" alt="" />
									<br>
									<br> <span class="mega-menu-all-text">The Financial Services industry is complex and ever changing. Judge has the experience to help your organization meet and exceed your goals. </span> 
								</div>
							</div>
							<div class="col-md-12 float-left" style="display:none" id="ind_tech_1_box">
								<div class="col-md-12 float-left mega-menu-heading">Technology/ Communications</div>
								<div class="col-md-6 float-left menu-inner-text">The future of Financial Services companies will largely depend on their ability to adapt to the changing regulatory climate and adopt new technologies to stay competitive. New technology, cybersecurity...
									<br>
									<br> <strong>Quicklinks</strong>
									<ul class="quick-links">
										<li><a href="#">IT Trends in Financial Services</a>
										</li>
										<li><a href="#">Technology Solutions</a>
										</li>
										<li><a href="#">Talent Solutions</a>
										</li>
										<li><a href="#">Learning Solutions</a>
										</li>
									</ul>
								</div>
								<div class="col-md-6 float-left"> <strong class="corporate-hq">Financial Services Expertise</strong>
									<img src="img/financialservicesexpertise.jpg" width="100%" alt="" />
									<br>
									<br> <span class="mega-menu-all-text">The Financial Services industry is complex and ever changing. Judge has the experience to help your organization meet and exceed your goals. </span> 
								</div>
							</div>
							<div class="col-md-12 float-left" style="display:none" id="ind_bio_1_box">
								<div class="col-md-12 float-left mega-menu-heading">Biopharma</div>
								<div class="col-md-6 float-left menu-inner-text">The future of Financial Services companies will largely depend on their ability to adapt to the changing regulatory climate and adopt new technologies to stay competitive. New technology, cybersecurity...
									<br>
									<br> <strong>Quicklinks</strong>
									<ul class="quick-links">
										<li><a href="#">IT Trends in Financial Services</a>
										</li>
										<li><a href="#">Technology Solutions</a>
										</li>
										<li><a href="#">Talent Solutions</a>
										</li>
										<li><a href="#">Learning Solutions</a>
										</li>
									</ul>
								</div>
								<div class="col-md-6 float-left"> <strong class="corporate-hq">Financial Services Expertise</strong>
									<img src="img/financialservicesexpertise.jpg" width="100%" alt="" />
									<br>
									<br> <span class="mega-menu-all-text">The Financial Services industry is complex and ever changing. Judge has the experience to help your organization meet and exceed your goals. </span> 
								</div>
							</div>
							<div class="col-md-12 float-left" style="display:none" id="ind_ene_1_box">
								<div class="col-md-12 float-left mega-menu-heading">Energy</div>
								<div class="col-md-6 float-left menu-inner-text">The future of Financial Services companies will largely depend on their ability to adapt to the changing regulatory climate and adopt new technologies to stay competitive. New technology, cybersecurity...
									<br>
									<br> <strong>Quicklinks</strong>
									<ul class="quick-links">
										<li><a href="#">IT Trends in Financial Services</a>
										</li>
										<li><a href="#">Technology Solutions</a>
										</li>
										<li><a href="#">Talent Solutions</a>
										</li>
										<li><a href="#">Learning Solutions</a>
										</li>
									</ul>
								</div>
								<div class="col-md-6 float-left"> <strong class="corporate-hq">Financial Services Expertise</strong>
									<img src="img/financialservicesexpertise.jpg" width="100%" alt="" />
									<br>
									<br> <span class="mega-menu-all-text">The Financial Services industry is complex and ever changing. Judge has the experience to help your organization meet and exceed your goals. </span> 
								</div>
							</div>
							<div class="col-md-12 float-left" style="display:none" id="ind_gov_1_box">
								<div class="col-md-12 float-left mega-menu-heading">Government</div>
								<div class="col-md-6 float-left menu-inner-text">The future of Financial Services companies will largely depend on their ability to adapt to the changing regulatory climate and adopt new technologies to stay competitive. New technology, cybersecurity...
									<br>
									<br> <strong>Quicklinks</strong>
									<ul class="quick-links">
										<li><a href="#">IT Trends in Financial Services</a>
										</li>
										<li><a href="#">Technology Solutions</a>
										</li>
										<li><a href="#">Talent Solutions</a>
										</li>
										<li><a href="#">Learning Solutions</a>
										</li>
									</ul>
								</div>
								<div class="col-md-6 float-left"> <strong class="corporate-hq">Financial Services Expertise</strong>
									<img src="img/financialservicesexpertise.jpg" width="100%" alt="" />
									<br>
									<br> <span class="mega-menu-all-text">The Financial Services industry is complex and ever changing. Judge has the experience to help your organization meet and exceed your goals. </span> 
								</div>
							</div>
							<div class="col-md-12 float-left" style="display:none" id="ind_manu_1_box">
								<div class="col-md-12 float-left mega-menu-heading">Manufacturing</div>
								<div class="col-md-6 float-left menu-inner-text">The future of Financial Services companies will largely depend on their ability to adapt to the changing regulatory climate and adopt new technologies to stay competitive. New technology, cybersecurity...
									<br>
									<br> <strong>Quicklinks</strong>
									<ul class="quick-links">
										<li><a href="#">IT Trends in Financial Services</a>
										</li>
										<li><a href="#">Technology Solutions</a>
										</li>
										<li><a href="#">Talent Solutions</a>
										</li>
										<li><a href="#">Learning Solutions</a>
										</li>
									</ul>
								</div>
								<div class="col-md-6 float-left"> <strong class="corporate-hq">Financial Services Expertise</strong>
									<img src="img/financialservicesexpertise.jpg" width="100%" alt="" />
									<br>
									<br> <span class="mega-menu-all-text">The Financial Services industry is complex and ever changing. Judge has the experience to help your organization meet and exceed your goals. </span> 
								</div>
							</div>
							<div class="col-md-12 float-left" style="display:none" id="ind_supply_1_box">
								<div class="col-md-12 float-left mega-menu-heading">Supply Chain</div>
								<div class="col-md-6 float-left menu-inner-text">The future of Financial Services companies will largely depend on their ability to adapt to the changing regulatory climate and adopt new technologies to stay competitive. New technology, cybersecurity...
									<br>
									<br> <strong>Quicklinks</strong>
									<ul class="quick-links">
										<li><a href="#">IT Trends in Financial Services</a>
										</li>
										<li><a href="#">Technology Solutions</a>
										</li>
										<li><a href="#">Talent Solutions</a>
										</li>
										<li><a href="#">Learning Solutions</a>
										</li>
									</ul>
								</div>
								<div class="col-md-6 float-left"> <strong class="corporate-hq">Financial Services Expertise</strong>
									<img src="img/financialservicesexpertise.jpg" width="100%" alt="" />
									<br>
									<br> <span class="mega-menu-all-text">The Financial Services industry is complex and ever changing. Judge has the experience to help your organization meet and exceed your goals. </span> 
								</div>
							</div>
							<div class="col-md-12 float-left" style="display:none" id="ind_higher_1_box">
								<div class="col-md-12 float-left mega-menu-heading">Higher Education</div>
								<div class="col-md-6 float-left menu-inner-text">The future of Financial Services companies will largely depend on their ability to adapt to the changing regulatory climate and adopt new technologies to stay competitive. New technology, cybersecurity...
									<br>
									<br> <strong>Quicklinks</strong>
									<ul class="quick-links">
										<li><a href="#">IT Trends in Financial Services</a>
										</li>
										<li><a href="#">Technology Solutions</a>
										</li>
										<li><a href="#">Talent Solutions</a>
										</li>
										<li><a href="#">Learning Solutions</a>
										</li>
									</ul>
								</div>
								<div class="col-md-6 float-left"> <strong class="corporate-hq">Financial Services Expertise</strong>
									<img src="img/financialservicesexpertise.jpg" width="100%" alt="" />
									<br>
									<br> <span class="mega-menu-all-text">The Financial Services industry is complex and ever changing. Judge has the experience to help your organization meet and exceed your goals. </span> 
								</div>
							</div>
							<div class="col-md-12 float-left" style="display:none" id="ind_hospitality_1_box">
								<div class="col-md-12 float-left mega-menu-heading">Hospitality</div>
								<div class="col-md-6 float-left menu-inner-text">The future of Financial Services companies will largely depend on their ability to adapt to the changing regulatory climate and adopt new technologies to stay competitive. New technology, cybersecurity...
									<br>
									<br> <strong>Quicklinks</strong>
									<ul class="quick-links">
										<li><a href="#">IT Trends in Financial Services</a>
										</li>
										<li><a href="#">Technology Solutions</a>
										</li>
										<li><a href="#">Talent Solutions</a>
										</li>
										<li><a href="#">Learning Solutions</a>
										</li>
									</ul>
								</div>
								<div class="col-md-6 float-left"> <strong class="corporate-hq">Financial Services Expertise</strong>
									<img src="img/financialservicesexpertise.jpg" width="100%" alt="" />
									<br>
									<br> <span class="mega-menu-all-text">The Financial Services industry is complex and ever changing. Judge has the experience to help your organization meet and exceed your goals. </span> 
								</div>
							</div>
						</li>
					</ul>
					<!-- end row -->
				</div>
			</li>
			<li class="dropdown menu-item-has-mega-menu"> <a href="#" class="dropdown-toggle" data-toggle="dropdown">CONTACT US</a>
				<div class="mega-menu dropdown-menu">
					<ul class="mega-menu-row" role="menu">
						<li class="mega-menu-col col-md-4 order-3 l-menu-hight">
							<ul class="sub-menu text-left staffing-sub-menu">
								<li id="con_office_1"><a href="#">Offices &amp; Locations</a>
								</li>
								<li id="con_inq_1"><a href="#">Inquire Sales</a>
								</li>
								<li id="con_candi_1"><a href="#">Candidate Portal</a>
								</li>
							</ul>
						</li>
						<li class="mega-menu-col col-md-8 text-left">
							<div class="col-md-12 float-left" style="display:none;" id="con_office_1_box">
								<div class="col-md-12 float-left mega-menu-heading">Offices &amp; Locations</div>
								<div class="col-md-6 float-left menu-inner-text">With over 48 years of experience in providing technology, talent, and learning solutions. Our services are successfully delivered through a network of more than 35 offices in the United States, Canada, and India.
									<br>
									<br> <strong>Quicklinks</strong>
									<ul class="quick-links">
										<li><a href="#">Staffing Center</a> 
										</li>
										<li><a href="#">Technology Center</a> 
										</li>
										<li><a href="#">Learning Center</a>
										</li>
										<li><a href="#">Offshore Delivery Center</a>
										</li>
									</ul>
								</div>
								<div class="col-md-6 float-left"> <strong class="corporate-hq">Corporate HQ Philadelphia</strong>
									<img src="img/offices.jpg" width="100%" alt="" />
									<br>
									<br> <span class="mega-menu-all-text">
							  <strong>Global Delivery Center</strong><br>
							  151 South Warner Rd.<br>
							  Suite 100<br>
							  Wayne, PA 19087<br>
							  P: (610) 667-7700<br>
							  F: (610) 667-1058<br>
							  Other: (800) 650-0035</span> 
							</div>
							</div>
							<div class="col-md-12 float-left" style="display:none;" id="con_inq_1_box">
								<div class="col-md-12 float-left mega-menu-heading">Inquire Sales</div>
								<div class="col-md-6 float-left menu-inner-text">With over 48 years of experience in providing technology, talent, and learning solutions. Our services are successfully delivered through a network of more than 35 offices in the United States, Canada, and India.
									<br>
									<br> <strong>Quicklinks</strong>
									<ul class="quick-links">
										<li><a href="#">Staffing Center</a> 
										</li>
										<li><a href="#">Technology Center</a> 
										</li>
										<li><a href="#">Learning Center</a>
										</li>
										<li><a href="#">Offshore Delivery Center</a>
										</li>
									</ul>
								</div>
								<div class="col-md-6 float-left"> <strong class="corporate-hq">Corporate HQ Philadelphia</strong>
									<img src="img/offices.jpg" width="100%" alt="" />
									<br>
									<br> <span class="mega-menu-all-text">
								  <strong>Global Delivery Center</strong><br>
								  151 South Warner Rd.<br>
								  Suite 100<br>
								  Wayne, PA 19087<br>
								  P: (610) 667-7700<br>
								  F: (610) 667-1058<br>
								  Other: (800) 650-0035</span> 
								</div>
							</div>
							<div class="col-md-12 float-left" style="display:none;" id="con_candi_1_box">
								<div class="col-md-12 float-left mega-menu-heading">Candidate Portal</div>
								<div class="col-md-6 float-left menu-inner-text">With over 48 years of experience in providing technology, talent, and learning solutions. Our services are successfully delivered through a network of more than 35 offices in the United States, Canada, and India.
									<br>
									<br> <strong>Quicklinks</strong>
									<ul class="quick-links">
										<li><a href="#">Staffing Center</a> 
										</li>
										<li><a href="#">Technology Center</a> 
										</li>
										<li><a href="#">Learning Center</a>
										</li>
										<li><a href="#">Offshore Delivery Center</a>
										</li>
									</ul>
								</div>
								<div class="col-md-6 float-left"> <strong class="corporate-hq">Corporate HQ Philadelphia</strong>
									<img src="img/offices.jpg" width="100%" alt="" />
									<br>
									<br> <span class="mega-menu-all-text">
									  <strong>Global Delivery Center</strong><br>
									  151 South Warner Rd.<br>
									  Suite 100<br>
									  Wayne, PA 19087<br>
									  P: (610) 667-7700<br>
									  F: (610) 667-1058<br>
									  Other: (800) 650-0035</span> 
								</div>
							</div>
						</li>
					</ul>
				</div>
			</li>
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">
					<img src="img/location-icon-top.png" alt="" class="p-0 m-0" />
				</a>
				<ul class="dropdown-menu places text-left">
					<li class="pl-2"><a href="https://www.judge.com/" style="color: #000;">USA - English</a>
					</li>
					<li class="pl-2"><a href="https://www.judge.com/?fromUrl=http://www.judgecanada.com/" style="color: #000;">Canada - English</a>
					</li>
					<li class="pl-2"><a href="https://www.judge.com/?fromUrl=http://www.judgechina.com/" style="color: #000;">China - English</a>
					</li>
				</ul>
			</li>
		</ul>
	</div>
	<!-- /.navbar-collapse -->
</div>
<!-- .container -->
</nav>

